* {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

body {
    background: url(https://img3.goodfon.com/original/2560x1600/1/cb/muzyka-ekvalayzer-bit.jpg) no-repeat;
    background-size: cover;
}

.test {
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}