.imgSocial {
    height: 30px;
    width: 50px;
}

#map {
    width: 100%;
    height: 300px;
}

.imgpay {
    height: 40px;
    width: 60px;
}

#id {
    margin-top: 5px;
    padding-top: 20px;
}

@media screen and (max-width: 390px) {
    #hassla {
        width: 50%;
        height: 50%;
    }
}