{% extends 'base.html.twig' %}

{% block title %}Hello PaypalController!{% endblock %}

{% block body %}
{% block stylesheets %}
     <link rel="stylesheet" href="{{asset('style.css')}}">
{% endblock %}

<script src="https://www.paypal.com/sdk/js?client-id=AWZqW8sDP2GueCwoHyN4njGrcw0g30Pyb_JBzCZVsrotRRfdxIPXJmUuiaTBUrDYKtQCofEQu_JX8sGk"></script>

<div class="loww"><h1></h1></div>
<div id="paypal" class="d-flex justify-content-center mt-5"></div>
<a href="{{ path('app_paypal_success') }}"><button hidden id="btn-suc"></button></a>
<a href="{{ path('app_paypal_error') }}"><button hidden id="btn-err"></button></a>

<script>
      paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '{{ total }}' // Can also reference a variable or function
              }
            }]
          });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            // alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h2>Thank you for your payment!</h2>';
            // Or go to another URL:  actions.redirect('thank_you.html');
            document.getElementById('btn-suc').click();
          });
        },
        onError: function (err) {
          // For example, redirect to a specific error page
          document.getElementById('btn-err').click();
        }
      }).render('#paypal');
    </script>
{% endblock %}
