{% extends 'base.html.twig' %}

{% block title %}New ProdQuestion{% endblock %}

{% block body %}
    <h1>Create new ProdQuestion</h1>

    {{ include('prod_question/_form.html.twig') }}

    <a href="{{ path('app_prod_question_index') }}">back to list</a>
{% endblock %}
