{% extends 'base.html.twig' %}

{% block title %}Edit ProdAnswer{% endblock %}

{% block body %}
    <h1>Edit ProdAnswer</h1>

    {{ include('prod_answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_answer_index') }}">back to list</a>

    {{ include('prod_answer/_delete_form.html.twig') }}
{% endblock %}
