{% extends 'base.html.twig' %}
{% block stylesheets %}
     <link rel="stylesheet" href="{{asset('style.css')}}">
{% endblock %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="loww">Edit User</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_user_index') }}" class="btn btn-warning">Back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
